<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id: plugin.xml,v 1.1 2011/12/22 00:42:28 bfb Exp $
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://solar.di.fct.unl.pt/dsltrans/2.0"
            class="dsltrans.DSLTransPackage"
            genModel="model/DSLTrans.genmodel"/>
   </extension>

</plugin>
