<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id: plugin.xml,v 1.1 2011/12/09 16:41:27 bfb Exp $
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.emftext.org/language/SOS"
            class="org.emftext.language.SOS.SOSPackage"
            genModel="metamodel/SOS.genmodel"/>
   </extension>

</plugin>
